<meta charset="utf-8">
<title>Hello PixiJS</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.pink-red.min.css" />

<style type="text/css">
.parent{
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: auto;margin-left:auto;
  overflow: hidden;
}
div.overflow{
  width: 500px;
  height: 600px;
}

</style>


<script type="text/javascript">
//  this is roor class of this component, don't change name of this
var myCanvasDrawer;

//  start from doc ready
$(document).ready(function(){
  var displayWidth = window.innerWidth;
  var displayHeight = window.innerHeight;
  var pattern  = new RegExp("iPhone|iPad|Android");
  if(!pattern.test(navigator.userAgent)){
    displayWidth = 500;
  }
  $( "div.overflow" ).css( "width" , displayWidth);
  $( "div.overflow" ).css( "height" ,displayHeight);


  myCanvasDrawer = new CanvasDrawer(0,0,displayWidth,displayHeight,0x9ddee8);
  myCanvasDrawer.initialize();
  myCanvasDrawer.switchStage("SceneMain","メインのシーン");
});

//  this is for debugging mode
stats = new Stats();
stats.setMode(0);
stats.domElement.style.position = "fixed";
stats.domElement.style.left = "0px";
stats.domElement.style.top = "0px";
document.body.appendChild(stats.domElement);

</script>

<!------- pixi rendering area ------>
<div class="parent overflow" style="width:500px;">
  <div>
    <div id="stage1"></div>
    <div id="stage2"></div>
    <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
      <li class="mdl-menu__item" onclick="myCanvasDrawer.switchStage('SceneMain','メインのシーン');">Home</li>
    </ul>
  </div>
  </div>
</div>
<!------- pixi rendering area ------>

</body>
